@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <button id="aButton">Do Something</button>
</p>
<p>
    Number of button clicks:
    <input id="counter" type="text" value="0" />
</p>

@section scripts {
    <script src="/Scripts/Pages/Index.js"></script>
}

